<h1>Listing profiles </h1>
<br>
<%= javascript_include_tag "partial/pagination" %>
<%= form_tag profiles_path, :method => 'get' , :class => 'form-inline',:id => 'profile_search' do %>
    <p>
    <div class="form-group">
      <%= text_field_tag :search, params[:search] ,:class => 'form-control ' ,:placeholder => "Enter User"%>
    </div>
    <div class="form-group">
      <%= submit_tag "Search",:class => 'btn btn-primary ', :name => nil %>
    </div>
    </p>
<% end %>

<br>
<br>
<div id="profile">
    <%= render 'profiles' %>
 </div>
