

    <div id="alert">

    </div>



    <%= image_tag @profile.cover.url(:medium),{alt: "Cover" , width: "100%" , height: "472" , class: "img-responsive" , id: "mainCover"} %>

  <div class="row">
    <div class="col-md-offset-1 col-md-3 col-sm-offset-1 col-sm-3 col-xs-offset-1 col-xs-3 <%= t('activemodel.activerecord.attributes.profile.pull').html_safe %>">
      <%= image_tag @profile.avatar.url(:medium) ,{id:"profilePic" , class: "img-circle img-responsive img-thumbnail" , width: "200" , height: "200" , alt: "Profile"}%>
    </div>
    <div class="col-md-3 col-sm-3  col-xs-12 infoDiv <%= t('activemodel.activerecord.attributes.profile.pull').html_safe %>">
      <h3> <%= "#{@profile.firstname} #{@profile.lastname}" %> </h3>
      <ul>
        <li><span class="glyphicon glyphicon-star">  </span> <%= label_tag t('activemodel.activerecord.attributes.profile.age').html_safe %>: <%= age(@profile.birthdate) %></li>
        <li><span class="glyphicon glyphicon-star">  </span> <%= label_tag t('activemodel.activerecord.attributes.profile.height').html_safe %>: <%= @profile.height %> cm</li>
        <li><span class="glyphicon glyphicon-star">  </span> <%= label_tag t('activemodel.activerecord.attributes.profile.weight').html_safe %>: <%= @profile.weight %> kg</li>
        <li><span class="glyphicon glyphicon-star">  </span> <%= label_tag t('activemodel.activerecord.attributes.profile.country').html_safe %>: <%= @profile.country.capitalize %></li>
        <li><span class="glyphicon glyphicon-star">  </span> <%= label_tag t('activemodel.activerecord.attributes.profile.city').html_safe %>: <%= @profile.city.capitalize %></li>
      </ul>
    </div>
    <div class="col-md-offset-1 col-md-3  col-sm-4 col-xs-12 infoDiv <%= t('activemodel.activerecord.attributes.profile.pull').html_safe %>">
      <h3>Total</h3>
      <ul>
        <li><span class="glyphicon glyphicon-fire">  </span> <%= label_tag t('activemodel.activerecord.attributes.profile.totalcal').html_safe %>: 12,360</li>
        <li><span class="glyphicon glyphicon-dashboard">  </span> <%= label_tag t('activemodel.activerecord.attributes.profile.totalTime').html_safe %>: 3:30:32</li>
        <li><span class="glyphicon glyphicon-stats">  </span> <%= label_tag t('activemodel.activerecord.attributes.profile.level').html_safe %>: easy</li>
        <li><span class="glyphicon glyphicon-road">  </span> <%= label_tag t('activemodel.activerecord.attributes.profile.totalDistance').html_safe %>: 2.21 km</li>
      </ul>
    </div>
  </div>

    <div class="row" id="profileButtons">
      <% unless current_user.profile_id == @profile.id %>

          <div class="btn-group btn-group-lg pull-right">
            <% unless (current_user.friends.include? @profile.user) %>
                <%=link_to raw('<i class="fa fa-user"></i> Friend Request'), friendships_path(:friend_id => @profile.user,profile_id: @profile),remote: true , method: :post , class: 'btn btn-primary'%>
            <% else %>
                <%=link_to raw('<i class="fa fa-user"></i> Remove'), @friendship, method: :delete, data: { confirm: 'Are you sure?' },remote: true,  class: 'btn btn-primary'%>
                <!-- <li ><%= link_to 'Private Messages' , new_message_path(to: @profile.user.id) %></li> -->

            <% end %>
            <a  data-toggle="modal" data-target="#pm" class="btn btn-info">
              <i class="fa fa-comment-o"></i>
            </a>
          </div>


      <% end%>

    </div>

