
<p id="notice"><%= notice %></p>

<!--
<p>
  <strong>Birthdate:</strong>
  <%= @profile.birthdate %>
</p>


<p>
  <strong>Role:</strong>
  <%= @profile.role %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
-->

    <%= image_tag @profile.cover.url(:medium),{alt: "Cover" , width: "1100" , height: "472" , class: "img-responsive" , id: "mainCover"} %>

  <div class="row">
    <div class="col-md-offset-1 col-md-3 col-sm-offset-1 col-sm-3 col-xs-offset-1 col-xs-3">
      <%= image_tag @profile.avatar.url(:medium) ,{id:"profilePic" , class: "img-circle img-responsive img-thumbnail" , width: "200" , height: "200" , alt: "Profile"}%>
    </div>
    <div class="col-md-3 col-sm-3  col-xs-12 infoDiv">
      <h3> <%= "#{@profile.firstname} #{@profile.lastname}" %> </h3>
      <ul>
        <li><span class="glyphicon glyphicon-star">  </span> Age : <%= age(@profile.birthdate) %></li>
        <li><span class="glyphicon glyphicon-star">  </span> Height : <%= @profile.height %></li>
        <li><span class="glyphicon glyphicon-star">  </span> weight : <%= @profile.weight %></li>
        <li><span class="glyphicon glyphicon-star">  </span> Country : <%= @profile.country.capitalize %></li>
        <li><span class="glyphicon glyphicon-star">  </span> City : <%= @profile.city.capitalize %></li>
      </ul>
    </div>
    <div class="col-md-offset-1 col-md-3  col-sm-4 col-xs-12 infoDiv ">
      <h3>Total</h3>
      <ul>
        <li><span class="glyphicon glyphicon-fire">  </span>Total Cal: 12,360</li>
        <li><span class="glyphicon glyphicon-dashboard">  </span>Total Time: 3:30:32</li>
        <li><span class="glyphicon glyphicon-stats">  </span>Level: easy</li>
        <li><span class="glyphicon glyphicon-road">  </span>Total Distance: 2.21 km</li>
      </ul>
    </div>
  </div>

  <div class="row">

    <ul class="nav nav-pills nav-justified ">

      <li class="active"><a href="profile.html">Home</a></li>
      <li><a href="workout.html">Workouts</a></li>
      <li><a href="#">Challenges</a></li>
      <li><a href="#">Chart</a></li>
      <li><a href="#">Nutrition (PRO)</a></li>

    </ul>
  </div>

