<%= form_for(@workout, :html => { :class => 'form-horizontal' , :role => "form" }) do |f| %>
  <% if @workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workout.errors.count, "error") %> t('profile.workout_err'):</h2>

      <ul>
      <% @workout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="row">
      <div class="col-md-5 col-sm-5 col-sx-10">
        <div class="form-group">
            <%= f.label t('profile.user_id') ,:class => 'col-sm-4 control-label'%>
            <div class="col-sm-8">
                <%= f.text_field :user_id ,:class => 'form-control ' , :placeholder => t('profile.user_id')%>
            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-sm-5 col-sx-10">
        <div class="form-group">
            <%= f.label t('profile.workout_plan_id') ,:class => 'col-sm-4 control-label'%>
            <div class="col-sm-8">
                <%= f.text_field :workout_plan_id ,:class => 'form-control ' , :placeholder => t('profile.workout_plan_id')%>
            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7 col-sm-7 col-sx-10">
        <div class="form-group">
<<<<<<< HEAD
            <%= f.label t('profile.date') ,:class => 'col-sm-4 control-label'%>
            <div class="col-sm-8">
                <%= f.date_select :date ,{:prompt => { :day => 'dd', :month => 'mm', :year => 'yyyy' }},:class => 'col-md-2 col-sm-2 col-sx-10 form-control '%>
=======
            <%= f.label :date ,:class => 'col-sm-3 control-label'%>
            <div class="col-sm-9">
              <%= f.date_select :date , {:prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year' },:start_year => Time.now.year-70, :end_year => Time.now.year}, {:class => 'date-select'}  %>
>>>>>>> FETCH_HEAD
            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-sm-5 col-sx-10">
        <div class="form-group">
            <%= f.label t('profile.totalmin') ,:class => 'col-sm-4 control-label'%>
            <div class="col-sm-8">
                <%= f.time_select :total_min ,:class => '' , :placeholder => t('profile.totalmin')%>
            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-sm-5 col-sx-10">
        <div class="form-group">
            <%= f.label t('profile.totalcal') ,:class => 'col-sm-4 control-label'%>
            <div class="col-sm-8">
                <%= f.number_field :total_cal ,:class => 'form-control ' , :placeholder => t('profile.totalcal')%>
            </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <!--<button type="submit" class="btn btn-primary"> Let's Go <span class="glyphicon glyphicon-chevron-right"></span></button>-->
      <%= f.submit 'Create' , :class => 'btn btn-info'  %>
    </div>
<% end %>
