<h1>t('profile.workout_edit')</h1><br>
<%= link_to raw('<span class="glyphicon glyphicon-plus"></span> New'), new_workout_path ,:class => "btn btn-info"%><br><br>


<div class="table-responsive">
  <table class="table table-hover">
  <thead>
    <tr>
      <th>User</th>
      <th>Workout plan</th>
      <th>Date</th>
      <th>Total min</th>
      <th>Total cal</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @workouts.each do |workout| %>
      <tr>
        <td><%= workout.user.email %></td>
        <td><%= workout.workout_plan %></td>
        <td><%= workout.date %></td>
        <td><%= workout.total_min %></td>
        <td><%= workout.total_cal %></td>
        <td><%= link_to raw('<span class="glyphicon glyphicon-list-alt"></span> Show'), workout ,class: 'btn-link'%></td>
        <td><%= link_to raw('<span class="glyphicon glyphicon-pencil"></span> Edit'),  edit_workout_path(workout),class: 'btn-link' %></td>
        <td><%= link_to raw('<span class="glyphicon glyphicon-remove"></span> Remove'), workout, method: :delete, data: { confirm: 'Are you sure?'} ,class: 'btn-link' %></td>

      </tr>
    <% end %>
  </tbody>
</table>
  </div>

<br>

