<%= form_for(@amount_type) do |f| %>
  <% if @amount_type.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@amount_type.errors.count, "error") %> prohibited this amount_type from being saved:</h4>

      <ul>
      <% @amount_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name ,:class => 'form-control'%>
    <br>
  </div>
  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
