<h1>t('profile.listequip')</h1><br>
<%= link_to raw('<span class="glyphicon glyphicon-plus"></span> New'), new_equipment_path ,:class => "btn btn-info"%><br><br>


<div class="table-responsive">
  <table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @equipment.each do |equipment| %>
      <tr>
        <td><%= equipment.name %></td>
        <td><%= link_to raw('<span class="glyphicon glyphicon-list-alt"></span>Show'), equipment %></td>
        <td><%= link_to raw('<span class="glyphicon glyphicon-pencil"></span>Edit'), edit_equipment_path(equipment) %></td>
        <td><%= link_to raw('<span class="glyphicon glyphicon-remove"></span>Destroy'), equipment, method: :delete, data: { confirm: t('profile. removequest') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  </div>

<br>

