<%= form_for(@food, :html => { :class => 'form-horizontal' , :role => "form",:multipart => true })   do |f| %>
  <% if @food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
      <% @food.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="row">
      <div class="col-md-5 col-sm-5 col-sx-10">
          <div class="form-group">
            <%= f.label :name ,:class => 'col-sm-4 control-label'%>
            <div class="col-sm-8">
                <%= f.text_field :name ,:class => 'form-control ', :placeholder => 'Name'%>
            </div>
          </div>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-md-5 col-sm-5 col-sx-10">
        <div class="form-group">
          <%= f.label :amount_type_id ,:class => 'col-sm-4 control-label'%>
          <div class="col-sm-8">
            <%= f.select :amount_type_id , @amount_types.map { |e| [ e.name , e.id ] } ,{}, {:class => 'form-control' } %>
            <%= link_to "manage amount type" , controller: "amount_types" , action: "index"%>
          </div>
        </div>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-md-5 col-sm-5 col-sx-10">
        <div class="form-group">
          <%= f.label :per ,:class => 'col-sm-4 control-label'%>
          <div class="col-sm-8">
            <%= f.text_field :per ,:class => 'form-control ' , :placeholder => 'Per'%>
          </div>
        </div>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-md-5 col-sm-5 col-sx-10">
          <div class="form-group">
            <%= f.label :calory ,:class => 'col-sm-4 control-label'%>
            <div class="col-sm-8">
                <%= f.number_field :calory ,:class => 'form-control ', :placeholder => 'Calory'%>
            </div>
          </div>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-md-5 col-sm-5 col-sx-10">
          <div class="form-group">
            <%= f.label :protein ,:class => 'col-sm-4 control-label'%>
            <div class="col-sm-8">
                <%= f.text_field :protein  ,:class => 'form-control ', :placeholder => 'Protein' %>
            </div>
          </div>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-md-5 col-sm-5 col-sx-10">
          <div class="form-group">
            <%= f.label :carbohydrate ,:class => 'col-sm-4 control-label'%>
            <div class="col-sm-8">
                <%= f.text_field :carbohydrate ,:class => 'form-control ', :placeholder => 'Carbohydrate'%>
            </div>
          </div>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-md-5 col-sm-5 col-sx-10">
          <div class="form-group">
            <%= f.label :fat ,:class => 'col-sm-4 control-label'%>
            <div class="col-sm-8">
                <%= f.text_field :fat ,:class => 'form-control ' , :placeholder => 'Fat'%>
            </div>
          </div>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-md-5 col-sm-5 col-sx-10">
        <div class="form-group">
          <%= f.label :Picture ,:class => 'col-sm-4 control-label'%>
          <div class="col-sm-8">
            <%= f.file_field :avatar %>
          </div>
        </div>
      </div>
    </div>
    <br>

  <div class="form-group row">
    <!--<button type="submit" class="btn btn-primary"> Let's Go <span class="glyphicon glyphicon-chevron-right"></span></button>-->
    <%= f.submit 'Create' , :class => 'btn btn-info'  %>
  </div>
<% end %>
