<%= javascript_include_tag 'partial/search_exercise_ajax' %>
<h1>Add Exercises to <%= @workout_plan.name %> </h1>
<br>


<%= form_tag(add_exercise_exercises_path, method: 'get', class: 'form-inline' , id: 'exercise_search') do %>
    <p>
    <div class="form-group">
      <%= text_field_tag :search, params[:search] ,:class => 'form-control ' ,:placeholder => 'Enter Exercise'%>
    </div>
    <div class="form-group">
      <%= submit_tag 'Search',:class => 'btn btn-primary', :name => nil %>
    </div>
    </p>
<% end %>
<br>

<div id="exercises">
    <%= render partial: 'exercises'%>
</div>

<br>
<br>

<!--<div id="added_exercises">
</div>-->
<div id="all_exercises" class="table-responsive">
  <%= form_tag(set_fields_workout_including_path(@workout_plan.id), :method => 'post',
               :id => 'form') do %>
  <table id="sortable" class="table table-hover">
    <thead>
    <tr>
      <th>Drag</th>
      <th>Avatar</th>
      <th><strong>Part</strong></th>
      <th>Name</th>
      <th>Level</th>
      <th>Equipment</th>
      <th>Days per week</th>
      <th>Reps</th>
      <th>Duration</th>
      <th></th>
    </tr>
    </thead>

    <tbody id="added_exercises">
    </tbody>
  </table>
  <% end %>
  <button class="btn btn-primary" onclick="$('#form').submit();">Add Exercises</button>
  <!-- render partial: 'added_exercises'%>-->
</div>
<!-- sortable_element('add_exercises', :url => {:controller => 'workout_plans', :action => 'sort', :id => @workout_plan.id }, :handle => 'handle') %>-->

<br>

  <!--# link_to 'Add', new_workout_plans_path(@workout_plan.id) %>-->
</div>