<h1>Editing workout_plan</h1>

<%= form_for(@workout_plan, :id => 'submitForm') do |f| %>
<% if @workout_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workout_plan.errors.count, "error") %> prohibited this workout_plan from being saved:</h2>

      <ul>
        <% @workout_plan.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>
<br>

<div class="row">
  <div class="col-md-5 col-sm-5 col-sx-10">
    <div class="form-group">
      <%= f.label :name ,:class => 'col-sm-4 control-label'%>
      <div class="col-sm-8">
        <%= f.text_field :name ,:class => 'form-control ', :placeholder => 'Name'%>
      </div>
    </div>
  </div>
</div>
<br>

<br>
<div class="row">
  <div class="col-md-5 col-sm-5 col-sx-10">
    <div class="form-group">
      <%= f.label :part ,:class => 'col-sm-4 control-label'%>
      <div class="col-sm-8">
        <%= f.select :part, ["ABS" , "Chest" , "Back" , "Legs" , "Arms"] ,{}, {:class => 'form-control'}%>
      </div>
    </div>
  </div>
</div>
<br>

<br>
<div class="row">
  <div class="col-md-5 col-sm-5 col-sx-10">
    <div class="form-group">
      <%= f.label :mode ,:class => 'col-sm-4 control-label'%>
      <div class="col-sm-8">
        <%= f.select :mode, ['Free' , 'Premium'] ,{}, {:class => 'form-control'}%>
      </div>
    </div>
  </div>
</div>
<br>


<div class="table-responsive" >
  <table class="table table-hover" id="test">
    <thead>
    <tr>
      <th>Avatar</th>
      <th><strong>Part</strong></th>
      <th>Name</th>
      <th>Level</th>
      <th>Equipment</th>
      <th>Days per week</th>
      <th>Reps</th>
      <th>Duration</th>
    </tr>
    </thead>

    <tbody>
    <% @workout_includings.each do |workout_including| %>
    <tr>
      <td><%= image_tag workout_including.exercise.avatar.url(:thumb) ,{id: workout_including.exercise.id , class: "img-circle img-responsive img-thumbnail" , width: "100" , height: "100" , alt: "Exercise"}%>
      <td><strong><%= workout_including.exercise.part %></strong></td>
      <td><%= workout_including.exercise.name.capitalize %></td>
      <td>
        <% case workout_including.exercise.level %>
        <% when 0%>
            <%= 'Basic' %>
        <% when 1%>
            <%= 'Intermediate' %>
        <% when 2%>
            <%= 'Difficult' %>
        <% end%>
      </td>
      <td><%= workout_including.exercise.equipment.name.capitalize %></td>
      <td><%= workout_including.exercise.days_per_week %></td>
      <td><%= workout_including.reps %></td>
      <td><%= workout_including.duration.seconds %></td>
    </tr>
        <% end %>
    </tbody>
   </table>
</div>

<!--<button class="btn btn-primary" onclick="$('#submitForm').submit();">Update Workout Plan
</button><br><br>-->
<br>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
<br>
<%= link_to 'Back', workout_plans_path %>
