<%= form_for(@plan, :html => { :class => 'form-horizontal' , :role => "form" }) do |f| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan.errors.count, "error") %> t('profile.plan_err')</h2>

      <ul>
      <% @plan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row">
      <div class="col-md-5 col-sm-5 col-sx-10">
        <div class="form-group">
        <%= f.label t('profile.totalcal') ,:class => 'col-sm-4 control-label'%>
          <div class="col-sm-8">
            <%= f.number_field :total_cal ,:class => 'form-control ', :placeholder => 'Total Calories'%>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-sm-5 col-sx-10">
        <div class="form-group">
          <%= f.label t('profile.totalprotein') ,:class => 'col-sm-4 control-label'%>
          <div class="col-sm-8">
            <%= f.text_field :total_protein ,:class => 'form-control ', :placeholder => t('profile.totalprotein')%>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-sm-5 col-sx-10">
        <div class="form-group">
            <%= f.label t('profile.totalcarb') ,:class => 'col-sm-4 control-label' %>
            <div class="col-sm-8">
                <%= f.text_field :total_carbohydrate ,:class => 'form-control ', :placeholder => t('profile.totalcarb')%>
            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-sm-5 col-sx-10">
        <div class="form-group">
            <%= f.label t('profile.totalfat') ,:class => 'col-sm-4 control-label' %>
            <div class="col-sm-8">
                <%= f.text_field :total_fat ,:class => 'form-control ' , :placeholder =>t('profile.totalfat')%>
            </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <!--<button type="submit" class="btn btn-primary"> Let's Go <span class="glyphicon glyphicon-chevron-right"></span></button>-->
      <%= f.submit t('profile.create') , :class => 'btn btn-info'  %>
    </div>
<% end %>
