<h1>Listing plans</h1><br>
<%= link_to raw('<span class="glyphicon glyphicon-plus"></span> New'), new_plan_path ,:class => "btn btn-info"%><br><br>


<div class="table-responsive">
  <table class="table table-hover">
  <thead>
    <tr>
      <th>Total cal</th>
      <th>Total protein</th>
      <th>Total carbohydrate</th>
      <th>Total fat</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @plans.each do |plan| %>
      <tr>
        <td><%= plan.total_cal %></td>
        <td><%= plan.total_protein %></td>
        <td><%= plan.total_carbohydrate %></td>
        <td><%= plan.total_fat %></td>
        <td><%= link_to raw('<span class="glyphicon glyphicon-list-alt"></span>Show'), plan %></td>
        <td><%= link_to raw('<span class="glyphicon glyphicon-pencil"></span>Edit'), edit_plan_path(plan) %></td>
        <td><%= link_to raw('<span class="glyphicon glyphicon-remove"></span>Remove'), plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>
