<%= form_for(@exercise) do |f| %>
  <% if @exercise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exercise.errors.count, "error") %> t('profile.ex_error') </h2>

      <ul>
      <% @exercise.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>






    <div class="row">
      <div class="col-md-5 col-sm-5 col-sx-10">
        <div class="form-group">
          <%= f.label t('profile.name') ,:class => 'col-sm-4 control-label'%>
          <div class="col-sm-8">
            <%= f.text_field :name ,:class => 'form-control ', :placeholder =>t('profile.name')%>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-5 col-sm-5 col-sx-10">
        <div class="form-group">
          <%= f.label t('profile.part')
          ') ,:class => 'col-sm-4 control-label'%>
          <div class="col-sm-8">
            <%= f.select :part, [t('profile.abs') , t ('profile.chest') , t('profile.back') , t('profile.legs') , t('profile.arms')] ,{}, {:class => 'form-control'}%>
          </div>
        </div>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-md-5 col-sm-5 col-sx-10">
        <div class="form-group">
          <%= f.label t ('profile.dpw') ,:class => 'col-sm-4 control-label'%>
          <div class="col-sm-7">
            <%= f.number_field :days_per_week ,:class => 'form-control ', :placeholder => t('profile.dpw')%>
          </div>
        </div>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-5 col-sm-5 col-sx-10">
        <div class="form-group">
          <%= f.label t('profile.level'),:class => 'col-sm-4 control-label'%>
          <div class="col-sm-8">
              <%= f.select :level, [t('profile.basic') ,t('profile.inter') , t('profile.diff')] ,{}, {:class => 'form-control'}%>
            </div>
          </div>
        </div>
      </div>


    <br>
    <div class="row">
      <div class="col-md-5 col-sm-5 col-sx-10">
        <div class="form-group">
          <%= f.label t('profile.equipid') ,:class => 'col-sm-4 control-label'%>
          <div class="col-sm-8">
            <%= f.select :equipment_id, @equipments.map { |e| [ e.name , e.id ] } ,{}, {:class => 'form-control' } %>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-5 col-sm-5 col-sx-10">
        <div class="form-group">
          <%= f.label t('profile.descp') ,:class => 'col-sm-4 control-label'%>
          <div class="col-sm-8">
            <%= f.text_area :description ,:class => 'form-control ',size: "24x6", :placeholder => t('profile.descp')%>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-5 col-sm-5 col-sx-10">
        <div class="form-group">
          <%= f.label t('profile.descp_fa') ,:class => 'col-sm-4 control-label'%>
          <div class="col-sm-8">
            <%= f.text_area :description_fa ,:class => 'form-control ',size: "24x6", :placeholder => t('profile.descp_fa')%>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-5 col-sm-5 col-sx-10">
        <div class="form-group">
          <%= f.label t('profile.vid_link') ,:class => 'col-sm-4 control-label'%>
          <div class="col-sm-8">
            <%= f.file_field :video %>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-5 col-sm-5 col-sx-10">
        <div class="form-group">
          <%= f.label t('profile.avatar') ,:class => 'col-sm-4 control-label'%>
          <div class="col-sm-8">
            <%= f.file_field :avatar %>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="actions">
      <%= f.submit :class => 'btn btn-primary'%>
    </div>
<% end %>
