<%= form_for(@exercise) do |f| %>
  <% if @exercise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
      <% @exercise.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>






    <div class="row">
      <div class="col-md-5 col-sm-5 col-sx-10">
        <div class="form-group">
          <%= f.label :name ,:class => 'col-sm-4 control-label'%>
          <div class="col-sm-8">
            <%= f.text_field :name ,:class => 'form-control ', :placeholder => 'Name'%>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-5 col-sm-5 col-sx-10">
        <div class="form-group">
          <%= f.label :part ,:class => 'col-sm-4 control-label'%>
          <div class="col-sm-8">
            <%= f.select :part, ["ABS" , "Chest" , "Back" , "Legs" , "Aarms"] ,{}, {:class => 'form-control'}%>
          </div>
        </div>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-md-5 col-sm-5 col-sx-10">
        <div class="form-group">
          <%= f.label :days_per_week ,:class => 'col-sm-4 control-label'%>
          <div class="col-sm-7">
            <%= f.number_field :days_per_week ,:class => 'form-control ', :placeholder => 'Days Per Week'%>
          </div>
        </div>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-5 col-sm-5 col-sx-10">
        <div class="form-group">
          <%= f.label :level ,:class => 'col-sm-4 control-label'%>
          <div class="col-sm-8">
              <%= f.select :level, ["Beginner" , "Intermediate" , "Difficult"] ,{}, {:class => 'form-control'}%>
            </div>
          </div>
        </div>
      </div>


    <br>
    <div class="row">
      <div class="col-md-5 col-sm-5 col-sx-10">
        <div class="form-group">
          <%= f.label :equipment_id ,:class => 'col-sm-4 control-label'%>
          <div class="col-sm-8">
            <%= f.select :equipment_id, @equipments.map { |e| [ e.name , e.id ] } ,{}, {:class => 'form-control' } %>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-5 col-sm-5 col-sx-10">
        <div class="form-group">
          <%= f.label :description ,:class => 'col-sm-4 control-label'%>
          <div class="col-sm-8">
            <%= f.text_area :description ,:class => 'form-control ',size: "24x6", :placeholder => 'English'%>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-5 col-sm-5 col-sx-10">
        <div class="form-group">
          <%= f.label :description_fa ,:class => 'col-sm-4 control-label'%>
          <div class="col-sm-8">
            <%= f.text_area :description_fa ,:class => 'form-control ',size: "24x6", :placeholder => 'فارسی'%>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-5 col-sm-5 col-sx-10">
        <div class="form-group">
          <%= f.label :video_link ,:class => 'col-sm-4 control-label'%>
          <div class="col-sm-8">
            <%= f.file_field :video %>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-5 col-sm-5 col-sx-10">
        <div class="form-group">
          <%= f.label :ava ,:class => 'col-sm-4 control-label'%>
          <div class="col-sm-8">
            <%= f.file_field :avatar %>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="actions">
      <%= f.submit :class => 'btn btn-primary'%>
    </div>
<% end %>
