<h1>Exercises </h1><br>
<%= link_to raw('<span class="glyphicon glyphicon-plus"></span>'), new_exercise_path ,:class => "btn btn-primary" , :style => "color: rgb(255,255,255);"%><br><br>
<br>
<div class="table-responsive">
  <table class="table table-hover">
  <thead>
    <tr>
      <th>Avatar</th>
      <th><strong>Part</strong></th>
      <th>Name</th>
      <th>Level</th>
      <th>Equipment</th>
      <th>Days per week</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @exercises.each do |exercise| %>
      <tr>
        <td><%= image_tag exercise.avatar.url(:thumb) ,{id: exercise.id , class: "img-circle img-responsive img-thumbnail" , width: "100" , height: "100" , alt: "Exercise"}%>
        <td><strong><%= exercise.part %></strong></td>
        <td><%= exercise.name.capitalize %></td>
        <td>
            <% case exercise.level %>
                <% when 0%>
            <%= 'Basic' %>
                <% when 1%>
            <%= 'Intermediate' %>
                <% when 2%>
            <%= 'Difficult' %>
            <% end%>
        </td>
        <td><%= exercise.equipment.name.capitalize %></td>
        <td><%= exercise.days_per_week %></td>
        <td><%= link_to raw('<span class="glyphicon glyphicon-list-alt"></span> Show'), exercise %></td>
        <td><%= link_to raw('<span class="glyphicon glyphicon-pencil"></span> Edit'), edit_exercise_path(exercise) %></td>
        <td><%= link_to raw('<span class="glyphicon glyphicon-remove"></span> Destroy'), exercise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  </div>

<br>
<%= will_paginate @exercises, renderer: BootstrapPagination::Rails %>

