<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag   "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "Video Gallery/html5gallery" , "Flipclock/base" , "Flipclock/flipclock" , "Flipclock/hourlycounter" , "Flipclock/minutecounter" %>
  <%= stylesheet_link_tag "Flipclock/flipclock" %>
  <title>Profile . Virtual GYM</title>
  <!--The following script tag downloads a font from the Adobe Edge Web Fonts server for use within the web page. We recommend that you do not modify it.-->
  <script>var __adobewebfontsappname__="dreamweaver"</script>
  <%= csrf_meta_tag %>
</head>

<body class="main_body" >




<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a id="khar" class="navbar-brand brand-font" href="#"><span class="glyphicon glyphicon-record">  </span>  Virtual GYM</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-align-justify"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#"><span class="glyphicon glyphicon-flash">  </span> Excersice</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-road">  </span> Challenge</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-sort-by-attributes">  </span> Body Metric</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-cutlery">  </span> Nutrition</a></li>
          </ul>
        </li>

        <!-- Admin Part -->
        <li class="dropdown">
          <% unless current_user.profile_id.nil? %>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-eye-open">  </span> Admin</a>
              <ul class="dropdown-menu">
                <li><%= link_to "Users" , controller: "profiles", action: "index"%></li>
                <li><%= link_to "Foods" , controller: "foods", action: "index"%></li>
                <li><%= link_to "Exercise" , controller: "exercises", action: "index"%></li>
                <li><%= link_to "Plans" , controller: "plans", action: "index"%></li>
          </ul>
          <% end %>
        </li>

        <!-- end Admin Part -->
        <% unless current_user.profile_id.nil? %>
        <li > <%= link_to raw("<span class='glyphicon glyphicon-user'></span> #{current_user.profile.firstname.capitalize} "), controller: "profiles", action: "show", id: current_user.profile_id%></li>
        <% end %>
        <li class="dropdown">
          <% unless current_user.profile_id.nil? %>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-chevron-down">  </span></a>
          <ul class="dropdown-menu">
            <li><a href="#"><span class="glyphicon glyphicon-tower">  </span>  Become Pro</a></li>
            <li><%= link_to raw('<span class="glyphicon glyphicon-pencil"></span> Edit Profile') , controller: "profiles", action: "edit", id: current_user.profile_id  %></li>
            <li class="divider"></li>
          <% end %>
            <!--<li><a href="#"><span class="glyphicon glyphicon-off">  </span>  Logout</a></li>-->
            <li><%= link_to raw('<span class="glyphicon glyphicon-off">  </span>  Logout'), destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
          </ul>
        </li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- END OF NAVBAR -->
<div class="mainDiv">

<%= yield %>

</div>
<script>
    $(function () {
        $('.carousel').carousel()
        $('.nav-tabs a:first').tab('show');
    });
</script>
</body>
</html>