
<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Virtual GYM</title>
  <%= stylesheet_link_tag    "application", 'custom-login',  media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <!--The following script tag downloads a font from the Adobe Edge Web Fonts server for use within the web page. We recommend that you do not modify it.-->
  <script>var __adobewebfontsappname__="dreamweaver"</script>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>

<body>
<% if notice %>
<script type="text/javascript">
    $(function(){
        new PNotify({
            title: 'Notice',
            text: '<%= notice %>',
            type: 'info',
            styling: 'fontawesome',
            icon: 'fa fa-info'
        });
    });
</script>
<% end %>
<% if alert %>
    <script type="text/javascript">
        $(function(){
            new PNotify({
                title: 'Done',
                text: '<%= alert %>',
                type: 'error',
                styling: 'fontawesome',
                icon: 'fa fa-exclamation'
            });
        });
    </script>
<% end %>
<p>&nbsp;</p>
<header>
  <div class="row">
    <div class="col-md-4 col-sm-5">
      <h1 style="font-family: aladin; font-style: normal; font-weight: 400;"><span class="glyphicon glyphicon-record"></span> Virtual GYM </h1>
    </div>
    <div class="col-md-offset-4 col-md-4 col-sm-offset-2 col-sm-5  col-xs-offset-1 col-xs-12">
      <form class="form-inline" role="form">
        <div class="row">
          <div class="form-group" style="color: #ffffff">
            Do you have account right now?
            <%= link_to "Login", new_session_path(resource_name) ,:class => "btn btn-default btn-login"%>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="container ">
    <div class="fuzzy-background">
      <div class="span span-1"></div>
      <div class="span span-2"></div>
      <div class="span span-3"></div>
      <div class="span span-4"></div>
      <span style="font-family: aladin;font-style: normal;font-weight: 400;"></span>
      <div class="span span-5"></div>
    </div>
    <div class="header-underline"></div>
  </div>
</header>

<p>&nbsp;</p>


<div id = "saina" >
  <h2>Sign up for free <strong>Now</strong></h2><br>


  <%= yield %>


    <br><br><br><br>
</div>


<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
